.beach {
    background-image: url("https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-320-80.jpg");
    height: 300px;
    background-size: cover;
}
.title {
    color:black;
    text-align: center;
    padding-top: 150px;
}

#web-description {
    font-size: larger;
    text-align: center;
}

#trips {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100px;
    height: 100px;
}

section > div {
    background-color: red;
}
body {
    background-color: lightblue;
}